.cart__container {
  padding-top: 5rem;
  padding-left: 5rem;
}

.product-image {
  height: 10rem;
  width: 10rem;
}

.cart__total {
  text-align: center;
  float: right;
  margin-right: 5vw;
}

table {
   border-collapse: collapse; /* [1] */
}

/* tr {
  display: table-row;
  vertical-align: middle;

  background-color: #f6f6f6;
} */


th, td {
  border-bottom: 5px solid transparent; /* [2] */
  background-color: #F6F6F6; /* [3] */
  background-clip: padding-box; /* [4] */
  text-align: center;
  vertical-align: middle;
  padding:10px;
}

 

.product__title--cart {
  font-size: 1vw;
}
