.header__container{
  margin: 0 2rem;
  padding: 0;
}


.header__links {
  font-size: 1.5rem;
  text-decoration: none;

  justify-content: space-between;
  margin: 0 1vw;
}

.header__right {
  float: right;

}

 

.header__logo {
  float: left;
}

.header__cont {
  margin: 0;
  padding: 0;
  text-align: center;
}

a{
    text-decoration: none; 
    width: 1vw;

height:1vh;}
