.header {
  grid-area: header;
  display: inline; align-items: center;
  text-align: center;
}
.header li {
  grid-area: header;
  display: inline;
 
  margin-inline: 50px;
}
.filters {
  grid-area: filters;
}
.products__container--grid {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
.search_container {
  grid-area: search;
  display: grid;
  place-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 3fr 3fr;
  grid-template-areas:
    'header header header header header header'
    'filters main main main main main  '
    'footer footer footer footer footer footer';
  grid-gap: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 10px 0;
  font-size: 2em;
}
