.container {
  justify-content: center;
  margin-top: 2vh;
}

.product__container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.product__card {
  margin: 0 10px 10px;
  padding: 5px;
  background-color: #f6f6f6;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product__img {
  height: 12rem;
  width: 20rem;
  object-fit: cover;
}
.product__img:hover {
 -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.product__text {
  display: inline;
}

.product__title {
  font-size: 0.7em;
}
.product__price {
  font-size: 0.5em;
  font-weight: bold;
}
